/* ESTILO DA GALERIA */
section.galeria {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: #90908c;
}

section.galeria .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-g {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: 50% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    background-image: url('./padaria.jpeg');
}

.img-g:hover {
    background-position: 50% 100%;
    transform: scale(1.2);
}
.img-g1 {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: 50% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    background-image: url('./footer-pexel.jpg');
}

.img-g1:hover {
    background-position: 50% 100%;
    transform: scale(1.2);
}
.img-g2 {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: 50% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    background-image: url('./carrosel1.jpg');
}

.img-g2:hover {
    background-position: 50% 100%;
    transform: scale(1.2);
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato, .menu-footer{
        display: none;
    }
    .btn-abrir-menu {
        display: block;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* GALERIA */
    section.galeria {
        padding: 80px 8%;
    }

    .img-g {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    .img-g1 {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    .img-g2 {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.galeria .flex {
       gap: 60px;
    }

    .img-g:hover {
        transform: scale(1.05);
    }
    .img-g1:hover {
        transform: scale(1.05);
    }
    .img-g2:hover {
        transform: scale(1.05);
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

    /* LOGIN */
    .container-login {
        min-width: 300px;
        margin: 60px 10px ;
        
    }
    /* CARRINHO */
    .cart-product-title {
        margin-top: 6px;
      }
    
      .product-qtd-input {
        display: block;
        margin: 0 auto;
      }
    
      .remove-product-button {
        display: block;
        margin: 8px auto 0;
      }
}
@media screen and (min-width: 1020px) {
    .video{
        padding-right: 20px;
    }
}

@media screen and (max-width: 280px) {
    /* LOGIN */
    .container-login {
        min-width: 200px;
        margin: 60px 10px ;
        
    }
}