h2.titulo {
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #EEE1B3;
}
/* ESTILO DO TOPO DO SITE */
.topo-do-site {
    padding: 40px 4%;
    background-color: #FBF9EF;
}

.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #EEE1B3;
}

.topo-do-site .txt-topo-site p {
    color: #000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}