/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #EEE1B3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
    color: #000;
}

h2.titulo {
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #EEE1B3;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #F7F2DE;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #000;
    text-decoration: none;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}
.logo{
    width: 150px;
    position: relative;
}
.logo img{
    width: 100%;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #EEE1B3;
    font-size: 40px;
}

.menu-mobile{
    background-color: #5c5c5c;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #EEE1B3;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: #EEE1B3;
    color: #fff;
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
    background-color: #FBF9EF;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #EEE1B3;
}

.topo-do-site .txt-topo-site p {
    color: #000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #4b484878;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #EEE1B3;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}
.item-a{
    color: #5c5c5c;
    text-decoration: none;
    transition: .2s;
}

.item-a:hover {
    text-decoration: none;
    color: #e7d215;
    transform: scale(1.05);
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #000;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #EEE1B3;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #EEE1B3;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: #000;
}
.img-sobre{
    width: 500px;
    position: relative;
}
.img-sobre{
    width: 100%;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: #45443e;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 70% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 70% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.video{
    width: 500px;
    height: 300px;
    position: relative;
}
.video{
    width: 100%;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #FBF9EF;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #EEE1B3;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: #FBF9EF;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #EEE1B3;
}

footer .line-footer p i {
    color: #EEE1B3;
    font-size: 22px;
}

footer .line-footer p a {
    color: #000;
}
.logo-footer{
    width: 150px;
    position: relative;
}
.logo-footer img{
    width: 100%;
}


footer nav.menu-footer a{
    background-color: #EEE1B3;
    padding: 15px;
    border-radius: 25px;
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

footer nav.menu-footer a:hover {
    color: #000;
    transform: scale(1.05);
}

footer nav ul {
    list-style-type: none;
}

footer nav.menu-footer ul li {
    display: inline-block;
    padding: 0 10px;
}

/* ESTILO DA GALERIA */
section.galeria {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: #90908c;
}

section.galeria .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-g {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: 50% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-g:hover {
    background-position: 50% 100%;
    transform: scale(1.2);
}

/* FORMULÁRIO LOGIN */
.container-login {
    background: #FBF9EF;
    min-width: 520px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 60px 0px 0px 50px;
    text-align: center;
}

.container-login  img {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

form  {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#login {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#login:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

.footer-login {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer-login span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer-login .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer-login .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer-login .social-field a {
    text-decoration: none;
    color: white;
}

.footer-login .social-field.google{
    background: linear-gradient(to right, #F27657, #C96147);
}

.footer-login .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

/* tabela carrinho de compras */
.cart-table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-head-item {
    text-align: start;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 6px;
    text-transform: uppercase;
  }
  
  .second-col,
  .third-col {
    width: 26%;
  }
  
  .cart-product td {
    padding: 8px 0;
  }
  
  .product-identification {
    display: flex;
    align-items: center;
  }
  
  .cart-product-image {
    width: 80px;
    height: 80px;
  }
  
  .cart-product-title {
    margin-left: 16px;
    font-size: 18px;
  }
  
  .cart-product-price {
    font-family: "Raleway", sans-serif;
  }
  
  .product-qtd-input {
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid var(--blue);
    text-align: center;
    background: #eee;
  }
  
  .remove-product-button {
    margin-left: 12px;
    background: #ff0000;
    color: var(--white);
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;
  
    transition: filter 0.2s;
  }
  
  .remove-product-button:hover {
    filter: brightness(0.8);
  }
  
  .cart-total-container {
    border-top: 1px solid var(--gray);
    text-align: end;
    padding: 6px 16px 0 0;
    font-size: 18px;
  }
  
  .cart-total-container strong {
    margin-right: 12px;
  }
  
  .purchase-button {
    display: flex;
    margin: 24px auto 0;
    background: #F7F2DE;
    color: #000;
    border: 0;
    border-radius: 6px;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  
    transition: filter 0.2s;
  }
  


@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato, .menu-footer{
        display: none;
    }
    .btn-abrir-menu {
        display: block;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* GALERIA */
    section.galeria {
        padding: 80px 8%;
    }

    .img-g {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.galeria .flex {
       gap: 60px;
    }

    .img-g:hover {
        transform: scale(1.05);
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

    /* LOGIN */
    .container-login {
        min-width: 300px;
        margin: 60px 10px ;
        
    }
    /* CARRINHO */
    .cart-product-title {
        margin-top: 6px;
      }
    
      .product-qtd-input {
        display: block;
        margin: 0 auto;
      }
    
      .remove-product-button {
        display: block;
        margin: 8px auto 0;
      }
}
@media screen and (min-width: 1020px) {
    .video{
        padding-right: 20px;
    }
}

@media screen and (max-width: 280px) {
    /* LOGIN */
    .container-login {
        min-width: 200px;
        margin: 60px 10px ;
        
    }
}